<html>
  <head>
    <title>Code-mixed questions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
   <body style="background-color:grey;">
    <center>
    <div style="height: 20px;"></div>
    <div style="border: solid black 2px; border-radius: 12px; border">
    <h2 style="color:white;">CODE-MIXED QUESTION ANSWERING CHALLENGE</h2>
    <h4 style="color:white;">Brief description about the web-site:</h4>
    <p style="font-weight: bold;">If we observe conservation between people in social media, The messeges are being posted in mixed-level languages almost 2000-2100 different lnguages   </p>
    <p style="font-weight: bold;">
        Here, We worked on three different mixed-level languages such as Telugu+English, Tamil+English and Hindi+English
    </p>
    <h4 style="color:white;">Some examples of mixed-level language questions: Input: Output:</h4>
    <p style="font-weight: bold;">(Telugu+English) Input: Taj Mahal evaru nirminchaaru Output: The answer type is "PERSON", The predict answer is Jahan <br>(Hindi+English) Input: narendra modi india ke pradhaana mantree hain? Output: The answer type is "YESNO", The predict answer is belongs to YES or NO<br>(Tamil+English) Input: Eiffel Tower endha natla iruku Output: The answer type is "LOCATION or PLACE", The predict answer is Paris, Poland</p>
     <div class="container">    
      <form role="form" action = "/" method = "post">
         <p><input type = "text" name = "enter_a_question" class="form-control" id="url-box" placeholder="Enter a question of mixed-level language (telugu,hindi,tamil) + english" style="height: 5%; width: 75%; border-radius: 12px" style="background-color:grey;" autofocus required/></p>
         <p><input type = "submit" style="height: 5%; width: 75%; border-radius: 12px" value = "submit" /></p>
      </form>
      <p style="color:white;">Other information about the project:</p>
      <p style="font-weight: bold;">The Project is totally based on NLP<br>
      Natural language processing, NLP is a branch of artificial intelligence that deals with analyzing, understanding and generating the languages that humans use naturally in order to interface with computers in both written and spoken contexts using natural human languages instead of computer languages</p>
      <p style="font-weight: bold;">The project done by <br>Eluri Venkata Sai Sampath<br>Bhavanam Venkata Sitarami Reddy<br>Mukku Phanindra Reddy<br>Mamidipaka Vidhya Sai Bhagavan<br>S.Thara(Project mentor)</p>
      <br>
      <div>
      <h3>Output for the given question:</h3>
      {% for error in output %}
        <h4>{{ error }}</h4>
      {% endfor %}
      </div>
       </div>
       </div>
       </center>
    </body>
</html>